repos:
- repo: https://github.com/python-poetry/poetry
  rev: 1.6.0
  hooks:
    - id: poetry-check

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.1.3
  hooks:
    - id: ruff
      args: [--fix, --exit-non-zero-on-fix]
    - id: ruff-format  
    
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.9.0
  hooks:
    - id: mypy
      args: ["--install-types", "--non-interactive", "--ignore-missing-imports"]
      additional_dependencies: [types-protobuf]
      exclude: |
        (?x)^(
            docs/.*|
            firebase_messaging/proto/.*py$
        )$




