[tool.poetry]
name = "firebase-messaging"
version = "0.1.3"
description = "FCM/GCM push notification client"
authors = ["sdb9696 <steven.beth@gmail.com>"]
license = "MIT"
readme = "README.rst"
homepage = "https://github.com/sdb9696/firebase-messaging"
repository = "https://github.com/sdb9696/firebase-messaging"
documentation = "http://firebase-messaging.readthedocs.io/"
keywords = [
    "Firebase",
    "Firebase Cloud Messaging",
    "Google Cloud Messaging",
]
classifiers = [
    "Environment :: Other Environment",
    "Intended Audience :: Developers",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3.12",
    "Topic :: Software Development :: Libraries :: Python Modules"
]
packages = [
    { include = "firebase_messaging" },
    { include = "tests", format = "sdist" },
]
include = [
    "LICENSE", 
    "CHANGELOG.rst",
]

[tool.poetry.dependencies]
python = "^3.8"
protobuf = "^4.24.4"
requests = "^2.31.0"
http-ece = "^1.1.0"
cryptography = "^41.0.4"
sphinx = {version = "7.1.2", optional = true}
sphinx-rtd-theme = {version = "^1.3.0", optional = true}
sphinx-autodoc-typehints = {version = "^1.24.0", optional = true}

[tool.poetry.extras]
docs = ["sphinx", "sphinx-rtd-theme", "sphinx-autodoc-typehints"]

[tool.poetry.group.dev.dependencies]
flake8 = "*"
pre-commit = "*"
tox = "*"
black = "*"
pylint = "^3.0.1"
isort = "^5.12.0"
pytest = "^7.4.2"
pytest-mock = "^3.11.1"
requests-mock = "^1.11.0"
pytest-asyncio = "^0.21.1"
pytest-cov = "^4.1.0"
async-timeout = "^4.0.3"

[tool.pytest.ini_options]
testpaths = "tests"
norecursedirs = ".git"
asyncio_mode = "auto"

[tool.coverage.run]
omit = [
    "firebase_messaging/proto/*",
    "firebase_messaging/decrypt.py*"
    ]

[tool.isort]
profile = "black"
known_first_party = "firebase_messaging"
known_third_party = ["asyncclick", "setuptools"]

[tool.pylint]
disable = ["missing-module-docstring", "missing-function-docstring", 
"missing-class-docstring",
"broad-exception-caught",
"consider-using-f-string",
]
overgeneral-exceptions = ["builtins.Exception"]
ignore-paths = ["firebase_messaging/proto", "firebase_messaging/decrypt.py", "tests"]

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
